---
# Common tasks - Base system configuration

- name: Set hostname
  hostname:
    name: "{{ hostname }}"
  tags: [hostname]

- name: Set timezone
  timezone:
    name: "{{ timezone }}"
  tags: [timezone]

- name: Install base packages
  apt:
    name: "{{ common_packages }}"
    state: present
    update_cache: yes
    cache_valid_time: 3600
  tags: [packages]

- name: Disable IPv6 (optional, for stability)
  sysctl:
    name: "{{ item }}"
    value: "1"
    state: present
    reload: yes
  loop:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6
  when: disable_ipv6 | default(false) | bool
  tags: [network, ipv6]
