---
# Unattended upgrades configuration

- name: Install unattended-upgrades package
  apt:
    name:
      - unattended-upgrades
      - apt-listchanges
    state: present
    update_cache: yes
    cache_valid_time: 3600

- name: Configure unattended-upgrades
  template:
    src: 50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    mode: '0644'
    owner: root
    group: root
  notify: restart unattended-upgrades

- name: Configure auto-upgrades
  template:
    src: 20auto-upgrades.j2
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    mode: '0644'
    owner: root
    group: root
  notify: restart unattended-upgrades

- name: Enable and start unattended-upgrades service
  systemd:
    name: unattended-upgrades
    enabled: yes
    state: started
